@import '../../common.blocks/button/button.styl'
@import '../../common.blocks/photo-circle/photo-circle.styl'

.reply
  background #f2f2f2
  &_name
    background blueColor
    color white
    border-radius 4px 4px 0 0
    font-size 33px
    font-family 'Conv_Lato-Light'
    letter-spacing -1.6px
    padding 18px 0 26px 0

  &_massage
    background white
    color #777777

    &-reply
      border 3px solid white
      display bloc
      & textarea
        background greyColor
        color #777777

  &_second-block
    background #46ab9d
    height 33px