.google-map
  &_container   
    position: relative
    padding-bottom: 29%
    padding-top: 30px
    height: 0
    overflow: hidden
    border-radius: 3px 3px 0 0

  &_container iframe, 
  &_container object, 
  &_container embed 
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  &_block
    width 100%
    height 69px
    background redColor
    border-radius: 0 0 3px 3px
    color white
    display flex
    flex-direction row
    justify-content center
    flex-wrap: wrap
    align-items: center

  &_meet-us
    font-family 'Conv_Lato-Light'
    font-size 30px
    margin-top -10px
    margin-left 10px
    margin-right 20px
    letter-spacing: 0

  &_adress
    font-family 'Conv_Lato-Black'
    font-size 12.5px
    margin-right 145px



