fieldset {
  border: 0;
}

.speed-icon
    border solid white  
    border-width 0 2px 2px 0
    display inline-block
    width 8px
    height 8px
    transform rotate(45deg)
    -webkit-transform rotate(45deg)
    margin-right -22px
    margin-top 7px!important

.ui-menu-item
  background rgba(229,229,229,1)
.ui-menu
  border 1px solid blueColor
  font-family 'LatoRegular'

  & .ui-state-disabled
    display none


.ui-selectmenu-button
  background greyColor
  color #888888
  font-family 'LatoRegular'
  border-right: 33px solid blueColor
  width: 242px!important
  height 28px
  padding: 0!important
  line-height 28px!important
  padding-left 13px!important
  margin-left -13px!important
  border-radius: 4px