mixin select-menu()
  <form action="#"> 
    <fieldset>
      <select name="speed" id="speed">
        <option disabled selected>Choose An Option</option>
        <option>Slower</option>
        <option>Slow</option>
        <option>Medium</option>
        <option>Fast</option>
        <option>Faster</option>
        </select>
    </fieldset>      
  </form>
