mixin button(nameBut,size,color,text,typeBut,disabled)
    if disabled == 'disabled'    
        button(type=""+typeBut name=""+nameBut disabled class="button button__size-"+size+" button__color-"+color)= text
    else 
        button(type=""+typeBut name=""+nameBut class="button button__size-"+size+" button__color-"+color)= text