@import '../../common.blocks/bubble/bubble.styl'

.user-profile
  display flex
  flex-direction row
  justify-content flex-start
  flex-wrap nowrap
  align-items center 

  & .bubble__grey
    width 163px
    margin-left 10px
    padding-top 10px
    padding-bottom 10px
    & .user-profile
      &_name 
        font-family 'LatoRegular'
        color #e75735
        font-size 18px
        margin 0 0 3px 0
        letter-spacing: 0
       
      &_skill
        font-family 'Conv_Lato-Black'
        color #4f4f4f
        font-size 11px
        margin 0 0 12px 2px
      
      &_facebook
        display inline-block
        width 10px
        height 21px
        background url("../../common.blocks/user-profile/fb_grey.png") no-repeat
        margin-right 22px
        margin-left 8px

      &_twitter
        display inline-block
        width 25px
        height 20px
        background url("../../common.blocks/user-profile/twitter_red.png") no-repeat
        margin-right 18px

      &_dribbble
        display inline-block
        width 21px
        height 21px
        background url("../../common.blocks/user-profile/dribbble_grey.png") no-repeat

  & .bubble__blue
    width 163px
    margin-left 10px
    padding-top 10px
    padding-bottom 10px
    & .user-profile
      &_name
        font-family 'LatoRegular'
        color white
        font-size 18px
        margin 0 0 3px 0
        letter-spacing: 0
       
      &_skill
        font-family 'Conv_Lato-Black'
        color white
        font-size 11px
        margin 0 0 12px 2px
    
      &_facebook
        display inline-block
        width 10px
        height 21px
        background url("../../common.blocks/user-profile/fb_white.png") no-repeat
        margin-right 22px
        margin-left 8px

      &_twitter
        display inline-block
        width 25px
        height 20px
        background url("../../common.blocks/user-profile/twitter_white.png") no-repeat
        margin-right 18px

      &_dribbble
        display inline-block
        width 21px
        height 21px
        background url("../../common.blocks/user-profile/dribbble_white.png") no-repeat  