@import '../../common.blocks/_common/fonts.styl'
@import '../../common.blocks/_common/style.styl'

.title-block
  width 100%
  text-align center
  font-size 18px
  letter-spacing 0.93px

.slider_handle__value-in-block
  position relative
  width 20px
  height 20px
  border-radius 50%
  background #e75735
  outline none
  top -8px!important


.slider_track__value-in-block
  background #e5e5e5
  height 5px!important
  margin-top 60px

.custom-handle
  width: 3em;
  height: 1.6em;
  text-align: center;
  line-height: 1.6em;
  position absolute
  bottom 30px
  right -15px
  background #e75735

.slider_handle__value-in-block2
  position relative
  width 20px
  height 20px
  border-radius 50%
  background #4eb7a8
  outline none
  top -8px!important

.ui-widget-header
  background #4eb7a8

.block2  
  position relative
  margin-bottom 20px

.value0
.value1
.value2
.value3  
.value4  
  position absolute
.value0
  left 0%
.value1
  left 25%
.value2
  left 50%
.value3
  left 75%
.value4  
  left 100%