@import '../../common.blocks/_common/fonts.styl'
@import '../../common.blocks/_common/style.styl'

.title-block
  width 100%
  text-align center
  font-size 18px
  letter-spacing 0.93px

.slider-norange
  width: 200px