@import '../../common.blocks/_common/fonts.styl'
@import '../../common.blocks/_common/style.styl'
@import '../../common.blocks/slider/slider.styl'
@import '../../common.blocks/bubble/bubble.styl'
@import '../../common.blocks/step/step.styl'
@import '../../common.blocks/arrow-button/arrow-button.styl'
@import '../../common.blocks/button/button.styl'
@import '../../common.blocks/toggles/toggles.styl'
@import '../../common.blocks/tick/tick.styl'
@import '../../common.blocks/dial-percentages/dial-percentages.styl'
@import '../../common.blocks/video-youtube/video-youtube.styl'
@import '../../common.blocks/photo-circle/photo-circle.styl'
@import '../../common.blocks/news/news.styl'
@import '../../common.blocks/events/events.styl'
@import '../../common.blocks/form/form.styl'
@import '../../common.blocks/user-profile/user-profile.styl'
@import '../../common.blocks/search/search.styl'
@import '../../common.blocks/reply/reply.styl'
@import '../../common.blocks/select-menu/select-menu.styl'

.title-block
  width 100%
  text-align center
  font-size 18px
  letter-spacing 1px
  margin-top 85px

.button-block
  margin-top 67px
  margin-bottom -30px

.button-inline
  display flex
  flex-direction row
  justify-content space-between
  flex-wrap nowrap
  align-items flex-end
  width 465px  
  margin 0 auto 19px auto

@media only screen and (max-width: 574px) 
  .button-inline
    display flex
    flex-wrap wrap
    justify-content center
    align-items center
    width: 10px
    & button 
      margin-bottom 10px

.arrow-button-inline
  display flex
  flex-wrap wrap
  flex-direction row
  justify-content center
  margin 35px 0 -38px 0
  & .arrow-button_border__normal
  & .arrow-button_border__disabled
    margin 0 12px 0 12px

.dial-flex
  display: flex
  flex-direction: row
  flex-wrap wrap
  justify-content center
  margin 25px -60px -51px -70px
  & .dial
    margin: 0 15px 0 15px


.sliders-flex
  display flex
  flex-direction row
  justify-content space-between
  flex-wrap wrap
  margin-top 7px
  margin-bottom -42px

.slider-left
  width 43.55%
  min-width 200px

.slider-right
  width 43.55%
  min-width 200px
  margin-top 17px
  margin-right 7px

@media only screen and (max-width: 515px)
  .sliders-flex
    justify-content center
  .slider-right
    margin-right 0

.step-block
  margin-top 24px
  margin-bottom -29px

.form-block
  display flex
  flex-direction row
  justify-content center
  margin-top 48px
  flex-wrap wrap
  margin-left -80px

.form-left
  margin-left 1px
  max-width 288px

.form-right
  max-width 700px
  margin-left 95px

@media only screen and (max-width: 600px)
  .form-block
    margin-left 0
  .form-left
    margin-left 0
  .form-right
    margin-left 0

.video-frame
  max-width 594px

.block-input-text
  width 72px  
  font-size 10px
  line-height 28px
  color white
  margin-left 8px

.flex-but
  display: flex
  flex-direction: row
  justify-content: center
  margin 28px -19px 40px 0
  & label
    margin-right 14px


.but-tick 
  margin-right -17px
  & label
    margin-right 9px
    margin-top 1px

.news-block
  display flex  
  flex-direction row
  & .news 
    max-width 288px
    margin-right 18px
  & .events 
    max-width 288px





.title-block__mini
  margin-right -7px
  text-align center
  font-size 18px
  letter-spacing 0.8px  

.calendar-and-messaging
  display flex
  flex-direction row
  justify-content space-between





.ui-datepicker-calendar th 
  font-size: 9px
  letter-spacing 0px  
  background redColor
  color white
  line-height:  27px
  padding-top 0px!important
  padding-bottom 0px!important

.ui-datepicker-title
  font-size: 24px
  font-family 'Conv_Lato-Light'
  color white
  height 39px
  line-height 36px!important

.ui-datepicker-header
  background #d54c2c
  width: 279px
  border-radius: 0

.ui-datepicker-year
  display none

.ui-datepicker-unselectable
  color white

.ui-datepicker-calendar td
  background #f2f2f2
  border-bottom: 1px solid white!important
  border-right: 1px solid white!important
  font-size: 17px
  font-family 'LatoRegular'
  line-height: 38px;
  letter-spacing: 0px
  vertical-align: middle

.ui-datepicker-calendar td a 
  color #868686
.ui-datepicker-calendar tr   
  width: 300px!important

.ui-datepicker-calendar .ui-state-active {
 background redColor
 color white
}

.ui-datepicker-calendar .ui-state-default {
 display: block;
 width: 37px;
 outline: none;
 padding: 0px

 text-decoration: none;

}

.ui-datepicker td span, .ui-datepicker td a 
  text-align: center!important

.ui-datepicker-prev 
  top 14px!important
  left 13px!important
  & span
    border solid white  
    border-width 0 3px 3px 0
    display inline-block
    width 8px
    height 8px
    transform rotate(135deg)
    -webkit-transform rotate(135deg)
    margin-left 16px

.ui-datepicker-next 
  top 14px!important
  right 9px!important
  & span
    border solid white  
    border-width 0 3px 3px 0
    display inline-block
    width 8px
    height 8px
    transform rotate(-45deg)
    -webkit-transform rotate(-45deg)
    margin-left 8px

.ui-datepicker-calendar
  margin 0!important

.ui-datepicker
  padding: 0!important

.day-of-calendar
  background redColor
  border-radius: 4px 4px 0 0
  height 109px
  width 279px
  padding: 0
  text-align center
  font-family 'Conv_Lato-Light'
  font-size: 80px
  color white
  letter-spacing: -3px

.ui-datepicker-buttonpane
  margin 0!important
  padding 0!important

.ui-datepicker-current
  background greyColor
  margin 0!important
  border 0!important
  font-family: 'Conv_Lato-Black';
  font-size: 13px
  color: #868685
  width 279px!important
  height 49px
  outline none
  text-align: left
  letter-spacing: 1px
  padding: 0 0 0 20px!important