input
  padding 6px 10px 6px 10px
  border none
  background greyColor 
  font-size 14px
  
input[type="search"]::-webkit-input-placeholder 
textarea[type="search"]::-webkit-input-placeholder 
  font-family LatoRegular
  color greyColor
input[type="search"]::-moz-placeholder 
textarea[type="search"]::-moz-placeholder 
  color greyColor
  font-family LatoRegular

textarea
  padding 10px 10px 14px 10px
  border none
  background greyColor 
  font-size 14px
  resize none

.input-table
  display flex
  flex-direction row  
  justify-content flex-start
  flex-wrap nowrap
  align-items center
  height 28px
  margin-bottom 12px

