input
  padding 6px 10px 6px 10px
  border none
  background greyColor 
  font-size 14px

textarea
  padding 10px 10px 14px 10px
  border none
  background greyColor 
  font-size 14px
  resize none

.input-table
  display flex
  flex-direction row  
  justify-content flex-start
  flex-wrap nowrap
  align-items center
  height 28px
  margin-bottom 12px

#errorBubbleName
  display: none
  
#errorBubbleEmail
  display: none

#thanksBubbleName
  display: none
  
#thanksBubbleEmail
  display: none

.button-input
  float right
  margin-top 4px