mixin form()
  form(name="form-message" onsubmit="return validForm(this)")
    .input-table
      input(type="text" name="nameMessageForm" style="width: 186px" placeholder="Your Name")
      .block-input-text
        +bubble('left','red','ERROR','errorBubbleName')
        +bubble('left','blue','THANKS!','thanksBubbleName')
    .input-table
      input(type="text" name="emailMessageForm" style="width: 186px" placeholder="Your Email")
      .block-input-text
        +bubble('left','red','ERROR','errorBubbleEmail')
        +bubble('left','blue','THANKS!','thanksBubbleEmail')
    textarea(name="messageForm" cols="35" rows="4" placeholder="Your Massage" style="margin-bottom: 3px;")
    .button-input
      +button('submit-message-form','normal','blue','SUBMIT','submit') 
