.news
  background-color redColor
  border-radius 4px
  color white
  display flex
  flex-direction row

  &_content    
    padding 22px 15px 24px 21px
  &_caption
    font-family 'Conv_Lato-Light'
    font-size 28px
    letter-spacing 0.2px
    line-height 27px
    margin-bottom 13px
  
  &_date
    font-family 'Conv_Lato-Black'
    font-size 10px
    letter-spacing 1.5px
    margin-bottom 15px

  &_text
    font-family LatoRegular
    font-size 11.4px
    letter-spacing 0.4px
    line-height 13.5px