@font-face 
    font-family 'Conv_Lato-Black'
    src url('../../fonts/Lato-Black.eot')
    src local('☺'), url('../../fonts/Lato-Black.woff') format('woff'), url('../../fonts/Lato-Black.ttf') format('truetype')
    font-weight normal
    font-style normal
@font-face 
    font-family 'LatoRegular'
    src url('../../fonts/LatoRegular.eot')
    src local('☺'), url('../../fonts/LatoRegular.woff') format('woff'), url('../../fonts/LatoRegular.ttf') format('truetype')
    font-weight normal
    font-style normal
@font-face 
    font-family 'Conv_Lato-Light'
    src url('../../fonts/Lato-Light.eot')
    src local('☺'), url('../../fonts/Lato-Light.woff') format('woff'), url('../../fonts/Lato-Light.ttf') format('truetype')
    font-weight normal
    font-style normal