@import 'variables.styl'

body 
  font-family 'Conv_Lato-Black'
  letter-spacing 1px
  font-size 14px
  padding-top 30px
  color #4f4f4f

.page
  padding 0 53px 0 53px
  overflow hidden

.page_over
  max-width 700px
  margin 0 auto

ul 
  padding: 0px