@import 'variables.styl'

body 
  font-family 'Conv_Lato-Black'
  letter-spacing 1px
  font-size 14px
  color #4f4f4f
  background #191919

.page
  padding 0 53px 30px 53px
  overflow hidden

.page_over
  max-width 700px
  margin 0 auto
  background white

ul 
  padding: 0px